/* Box sizing for all elements */
* {
    box-sizing: border-box;
}

/* Body background color */
body {
    background: #F0F0F0;
}

/* Font styles for headings and paragraphs */
h1, h2, h5 {
    font-family: Anton, sans-serif;
}

p {
    font-family: Abel, sans-serif;
}

/* Styling for the navigation brand and logo */
.navbar-brand {
    font-family: Abel, sans-serif;
    font-size: 2em;
}

.logo {
    height: 105px;
    width: 105px;
}

/* Styling for the red circle */
.circle-red {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background: #e6563b;
    border: 10px solid #fff;
    font-family: Anton, sans-serif;
}

/* Styling for the yellow circle */
.circle-yellow {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background: #eb9d3a;
    border: 10px solid #fff;
    font-family: Anton, sans-serif;
}

/* Styling for the green circle */
.circle-green {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background: #7cb06c;
    border: 10px solid #fff;
    font-family: Anton, sans-serif;
}

/* Styling for the blue circle */
.circle-blue {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background: #00aba9;
    border: 10px solid #fff;
    font-family: Anton, sans-serif;
}

/* Styling for the small red circle */
.lil-red-cir {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #e6563b;
    font-family: Anton, sans-serif;
}

/* Styling for the small yellow circle */
.lil-yellow-cir {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #eb9d3a;
    font-family: Anton, sans-serif;
}

/* Styling for the small green circle */
.lil-green-cir {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #7cb06c;
    font-family: Anton, sans-serif;
}

/* Styling for the small blue circle */
.lil-blue-cir {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #00aba9;
    font-family: Anton, sans-serif;
}

/* Font size for small circles within featured projects */
.little-circles > div {
    font-size: .5em;
}

/* Styling for the border of images */
.img-box > img {
    border: 10px solid #E6E6E6;
}

/* Styling for cards */
.card {
    max-width: 540px;
    border: none;
    background-color: #F0F0F0;
}

/* Navigation link hover color */
.navbar a:hover {
    color: orange;
}
