* {
    box-sizing: border-box;
}

body {
    background: #F0F0F0;
}

h1, h2, h5 {
    font-family: Anton, sans-serif;
}

p {
    font-family: Abel, sans-serif;
}

.navbar-brand {
    font-family: Abel, sans-serif;
    font-size: 2em;
}

.logo {
    height: 105px;
    width: 105px;
}

.circle-red {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background: #e6563b;
    border: 10px solid #fff;
    font-family: Anton, sans-serif;
}

.circle-yellow {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background: #eb9d3a;
    border: 10px solid #fff;
    font-family: Anton, sans-serif;
}

.circle-green {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background: #7cb06c;
    border: 10px solid #fff;
    font-family: Anton, sans-serif;
}

.circle-blue {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background: #00aba9;
    border: 10px solid #fff;
    font-family: Anton, sans-serif;
}

.lil-red-cir {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #e6563b;
    font-family: Anton, sans-serif;
}

.lil-yellow-cir {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #eb9d3a;
    font-family: Anton, sans-serif;
}

.lil-green-cir {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #7cb06c;
    font-family: Anton, sans-serif;
}

.lil-blue-cir {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #00aba9;
    font-family: Anton, sans-serif;
}

.little-circles > div {
    font-size: .5em;
}

.img-box > img {
    border: 10px solid #E6E6E6;
}

.card {
    max-width: 540px;
    border: none;
    background-color: #F0F0F0;
}

.navbar a:hover {
    color: orange;
}
